<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="{{ asset("main.css") }}">#}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/resources/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/resources/assets/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/resources/assets/css/style.min.css" rel="stylesheet">

</head>
<body>
{% block body %}{% endblock %}
{#<script src="{{ asset("main.js") }}"></script>#}
</body>
</html>